* {
  box-sizing: border-box;
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: #ff4384;
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: #ff4384;
  opacity: 1;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: #ff4384;
  opacity: 1;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: #ff4384;
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ff4384;
}
*::placeholder {
  /* modern browser */
  color: #ff4384;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 1200px;
  height: 800px;
}
